.container{max-width: 400px; 
    min-height: 450px; 
    margin: 0 auto;
    background-color: antiquewhite; 
    box-shadow: 0 0 10px grey;
     margin-top: 50px;
    padding:15px 50px}
.text-center{text-align: center;}
.Expense-container{
    display: flex;
    justify-content: space-around;
background-color: white;
box-shadow: 0 0 10px grey;
}
.taransactio-form-container input{width: 100%;margin: 10px 0;
padding :6px 0} 
.History-taransaction-list-container-container{
  margin: 0;
  padding: 0;
}
.History-taransaction-list-container-container > li{
    display: flex;
    justify-content: space-between;
    background-color: white;
box-shadow: 0 0 10px grey;
padding: 18px 5px;
margin: 5px 0;

}